body{
	background-color: white;
	color:gray;
	font-family:Helvetica;
	text-align: left; 
}

.h1{
	text-align:center; 
}

.icon{
	padding: 10px; 
}

.container-about {
	margin-top: 50px; 
}

.description{
	padding: 20px; 
}

.carousel-inner{
	height: 360px;
}

.cv{
	padding: 20px; 
}

/*
#69cdff 
*/